<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/dietideals24/static/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>DietiDeals24</title>
  </head>
  <body class="bg-body-tertiary">
    <div class="container bg-white">
      <!-- Header -->
      <div id="header" th:replace="~{/includes/header.html}"></div>

      <!-- Dynamic content -->
      <div id="content" th:replace="${contentPage}"></div>

      <!-- Footer -->
      <div id="footer" th:replace="~{/includes/footer.html}"></div>
    </div>

    <script src="/dietideals24/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
