
<h3>Accedi</h3>
<th:block th:if="${action == 'login'}">
  <h7>(utente compratore)</h7>
</th:block>

<th:block th:if="${action == 'loginV'}">
  <h7>(utente venditore)</h7>
</th:block>

<p id="error-message"></p>
<form action="/dietideals24/login" class="mt-3" method="POST">
  <label for="username" class="form-label">Username:</label>
  <input
    class="form-control"
    type="username"
    id="username"
    name="username"
    required
  />

  <label for="password" class="form-label">Password:</label>
  <input
    type="password"
    class="form-control"
    id="password"
    name="password"
    required
  />

  <!-- la pagina di login contraddistingue la selezione del ruolo -->
  <th:block th:if="${action == 'login'}"> 
    <input type="hidden" id="role" name="role" value="compratore">
  </th:block>
  
  <th:block th:if="${action == 'loginV'}"> 
    <input type="hidden" id="role" name="role" value="venditore">
  </th:block>

  <th:block th:if="${error != null}">
    <p style="color: red;">Credenziali non valide. Riprova!</p>
  </th:block>

  <button class="btn btn-light m-3" type="submit">Accedi</button>
</form>

  <ul class="list-inline">
    <li class="list-inline-item"><a href="/dietideals24/index">Torna alla Home</a></li>
  
    <th:block th:if="${action == 'login'}">
      <li class="list-inline-item"><a class="p-2" href="/dietideals24/auth-servlet?action=loginV">Accedi come Venditore</a></li>
    </th:block>
  
    <th:block th:if="${action == 'loginV'}">
      <li class="list-inline-item"><a class="p-2" href="/dietideals24/auth-servlet?action=login">Accedi come Compratore</a></li>
    </th:block>
  
    <li class="list-inline-item"><a class="p-2" href="/dietideals24/auth-servlet?action=register">Se non sei registrato, registrati</a></li>
  </ul>

  <script>
    // Controlla se c'è un parametro "error" nell'URL
    const params = new URLSearchParams(window.location.search);
    if (params.has("error")) {
        document.getElementById("error-message").style.display = "block";
    }
</script>